.about{
  padding: 32px;
}
.about > p{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;

  margin-top: 12px;
}

/* Caso tenha link no about

.about > p > a{
  color: var(--link);
  text-decoration: none;
}
.about > p > a:hover{
  text-decoration: underline;
}
/*

/*----------@MEDIA----------*/

@media(max-width: 1080px){
  .about{
    padding: 24px;
  }
  .about > p{
    font-size: 14px;
  }
}
